<mat-nav-list>

  <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  <a mat-list-item routerLink="/sportshome" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLink="/sportudash" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
